<% if notice %>
  <aside id="notice bg-primary"><%= notice %></aside>
<% end %>
<h2>Košík</h2>
<div style="float: right">Celková cena: <%= number_to_currency(total_price, unit: "Kč", format: "%n %u") %></div>
<br>
<div style="float: right"><%= link_to "Vyklidit košík", clear_path, method: :get, class: "nav-link" %> </div>

<table class="table text-white">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Název</th>
    <th scope="col">Cena</th>
    <th scope="col">Možnosti</th>
    <th scope="col">Počet</th>
  </tr>
  </thead>
  <tbody>
    <%= render(@cart.line_items) %>
  </tbody>
</table>